html {
    box-sizing: border-box;
    font-family:  'Saira', sans-serif;
    font-size: 3vh;
    font-weight: 200;
  }
  
  body {
    margin: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  h1 { 
    margin: 0;
    font-size: 1rem;
    opacity: 0.5;
  }

  p { 
    margin: 0; 
    font-size: 1.7rem;
  }

  .panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .panel {
    text-align: right;
    color: #fff;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    transition: flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11);
  }
  
   .panel.open {
        flex: 5;
      }
  
  .panel0 {
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #777 !important;
    height: 7vh;
  }
  
  .panel1 { 
    background-color: #4C99CF; 
  }
  
  .panel2 { 
    background-color: #4873A6
  }
  
  .panel3 {
    background-color: #595386;
  }
  
  .panel4 {
    background-color: #524364;
  }
  
  .hide { display: none; }
  
  #summary0 a {
    font-size: 0.5rem !important;
    color: red;
    text-decoration: none;
  }

  .summary {
    font-size: 0.5rem !important;
    color: red;
    text-decoration: none;
  }
  
  canvas {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
  
  .panel.open canvas {
    opacity: 1;
  }
  
  #isAlerts { 
    color: red; 
    font-size: 0.7rem;
  }
